.button {
	padding: 0;
	border: none;
	cursor: pointer;
	background: none;
	color: #ef233c;
	font-weight: 500;
	line-height: 1.5;
	font-size: 1.6rem;
	position: relative;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	font-family: "Fira Code", monospace;
}
.button:active,
.button:focus {
	outline: none;
}
.button:hover {
	color: #edf2f4;
}
.button--small {
	font-size: 1.4rem;
}
.button--big {
	font-size: 1.8rem;
}
.button__inner {
	display: block;
	overflow: hidden;
	position: relative;
	padding: 1.2rem 3.2rem;
	background-color: transparent;
	border: 0.1rem solid #ef233c;
	box-shadow: inset 0rem 0rem 0rem 0.1rem transparent;
}
.button--small .button__inner {
	padding: 1.2rem 2.4rem;
}
.button--big .button__inner {
	padding: 1.2rem 3.2rem;
}
.button__slide {
	top: 0;
	width: 0;
	left: -0.8rem;
	display: block;
	bottom: -0.1rem;
	position: absolute;
	background-color: #ef233c;
	transition: all 0.2s ease-in-out;
}
.button:hover .button__slide {
	width: calc(100% + 2rem);
}
.button__content {
	position: relative;
}
