.button {
	padding: 0;
	border: none;
	cursor: pointer;
	background: none;
	color: #ef233c;
	font-weight: bold;
	font-size: 1.6rem;
	position: relative;
	line-height: 2.4rem;
	transition: all 0.15s ease-in-out;
}
.button:active,
.button:focus {
	outline: none;
}
.button--inner {
	display: block;
	overflow: hidden;
	position: relative;
	padding: 1.2rem 3.2rem;
	background-color: transparent;
	border: 0.1rem solid #ef233c;
	box-shadow: inset 0rem 0rem 0rem 0.1rem transparent;
}
.button--inner_slide {
	top: 0;
	width: 0;
	left: -0.8rem;
	display: block;
	bottom: -0.1rem;
	position: absolute;
	transform: skew(-15deg);
	background-color: #ef233c;
	transition: all 0.2s ease-in-out;
}
.button--inner_content {
	position: relative;
}
.button:hover {
	color: #edf2f4;
}
.button:hover .button--inner_slide {
	width: calc(100% + 2rem);
}
