.header--nav_menu li a {
	color: #edf2f4;
	font-size: 1.6rem;
	line-height: 2.4rem;
	transition: all 0.2s ease-in-out;
}
.header--nav_menu li a:hover {
	color: #ef233c;
}
.header--nav_menu li a span {
	color: #ef233c;
	font-family: "Fira Code", monospace;
}
