/* Custom-title */
.custom-title {
	display: flex;
	position: relative;
	justify-content: center;
}
.custom-title__heading {
	gap: 0.4rem;
	line-height: 1;
	color: #edf2f4;
	font-weight: 700;
	font-size: 2.4rem;
	padding: 0 1.6rem;
	display: inline-flex;
	align-items: baseline;
	justify-content: center;
	background-color: #2b2d42;
	font-family: "Inter", sans-serif;
}
.custom-title__heading::after {
	top: 50%;
	z-index: -1;
	width: 100%;
	content: "";
	height: 0.1rem;
	position: absolute;
	background-color: #ef233c;
}
.custom-title__number {
	color: #ef233c;
	line-height: 1.5;
	font-weight: 500;
	font-size: 1.8rem;
	font-family: "Fira Code", monospace;
}

/* Media Queries */
@media screen and (min-width: 768px) {
	.custom-title__heading {
		font-size: 3.2rem;
	}
}
