/* Variables */
:root {
  --color-red: #ff0000;
  --color-dark: #0b1622;
  --color-gray: #a6aebf;
  --color-light: #edf2f4;

  --font-xs: 1.4rem;
  --font-sm: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2.4rem;
  --font-xl: 3.2rem;
  --font-2xl: 7.2rem;
  --font-3xl: 9.6rem;

  --shadow-regular: rgba(0, 0, 0, 0.1) 0rem 1rem 1.5rem -0.3rem, rgba(0, 0, 0, 0.05) 0rem 0.4rem 0.6rem -0.2rem;
  --shadow-medium: rgba(0, 0, 0, 0.16) 0rem 1rem 3.6rem 0rem, rgba(0, 0, 0, 0.06) 0rem 0rem 0rem 0.1rem;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  font-size: 62.5%;
  min-height: 100vh;
  scroll-behavior: smooth;
}
.body {
  min-height: 100vh;
  background-color: var(--color-dark);
}
.body--lock {
  overflow: hidden;
}
.body--lock .header--hide {
  transform: translateY(0);
}

/* Header */
.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  transition: all 0.2s ease-in-out;
  background-color: var(--color-dark);
}
.header--hide {
  transform: translateY(-100%);
}
.header--active {
  box-shadow: var(--shadow-medium);
}
.header--active .nav {
  padding: 2.8rem;
}

/* Nav */
.nav {
  display: flex;
  padding: 2.4rem;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.nav__logo .logo:hover .logo__letter {
  fill: var(--color-light);
  transition: all 0.2s ease-in-out;
}
.nav__logo .logo:hover .logo__background {
  fill: var(--color-red);
  transition: all 0.2s ease-in-out;
}

/* Menu-icon */
.menu-icon {
  border: none;
  z-index: 999;
  display: block;
  position: relative;
  background: transparent;
}
.menu-icon__content {
  width: 4rem;
  display: flex;
  height: 3.2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.menu-icon__content--active > .menu-icon__inner {
  transform: rotate(225deg);
}
.menu-icon__content--active > .menu-icon__inner:after,
.menu-icon__content--active > .menu-icon__inner:before {
  top: 0;
  width: 100%;
  transform: rotate(90deg);
}
.menu-icon__content--active > .menu-icon__inner:after {
  opacity: 0;
}
.menu-icon__inner {
  width: 100%;
  display: flex;
  height: 0.4rem;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--color-red);
  transition: all 0.2s ease-in-out;
}
.menu-icon__inner:after,
.menu-icon__inner:before {
  right: 0;
  width: 75%;
  z-index: 1;
  content: "";
  top: -1.2rem;
  height: 0.4rem;
  position: absolute;
  background: inherit;
  transition: all 0.2s ease-in-out;
}
.menu-icon__inner:after {
  width: 50%;
  top: 1.2rem;
}

/* Menu-aside */
.menu-aside {
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  transform: translateX(100%);
  box-shadow: var(--shadow-medium);
  transition: all 0.2s ease-in-out;
  background-color: var(--color-dark);
}
.menu-aside--open {
  visibility: visible;
  transform: translateX(0);
}
.menu-aside__nav {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
}
.menu-aside__menu {
  gap: 3.2rem;
  display: flex;
  padding: 2.4rem;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.menu-aside__button {
  list-style: none;
}
.menu-aside__button .button {
  font-size: var(--font-xs);
}

/* Menu-item */
.menu-item {
  list-style: none;
}
.menu-item__link {
  gap: 0.4rem;
  display: flex;
  align-items: baseline;
  text-decoration: none;
}
.menu-item__number {
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-red);
  font-size: var(--font-xs);
  font-family: var(--font-fira-code);
}
.menu-item__text {
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray);
  font-size: var(--font-xs);
  transition: all 0.2s ease-in-out;
  font-family: var(--font-fira-code);
}
.menu-item__link:hover .menu-item__text {
  color: var(--color-red);
}

/* Button */
.button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  text-decoration: none;
  color: var(--color-red);
  font-size: var(--font-sm);
  transition: all 0.2s ease-in-out;
  font-family: var(--font-fira-code);
}
.button:hover {
  color: var(--color-light);
}
.button:hover .button__content::before {
  width: calc(100% + 2rem);
}
.button__inner {
  z-index: 2;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 1.2rem 3.2rem;
  background-color: transparent;
  border: 0.1rem solid var(--color-red);
  box-shadow: inset 0rem 0rem 0rem 0.1rem transparent;
}
.button__content::before {
  top: 0;
  width: 0;
  z-index: -1;
  content: "";
  left: -0.8rem;
  display: block;
  bottom: -0.1rem;
  position: absolute;
  transition: all 0.2s ease-in-out;
  background-color: var(--color-red);
}

/* Menu */
.menu {
  gap: 3.2rem;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.menu__button {
  list-style: none;
}
.menu__button .button {
  font-size: var(--font-xs);
}

/* Main */
.main {
  min-height: 100vh;
}
.main--lock {
  touch-action: none;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  filter: blur(0.4rem) brightness(0.6);
}

/* Article */
.article {
  width: 100%;
  margin: 0 auto;
  padding: 0 2.4rem;
  min-height: 100vh;
  position: relative;
}

/* Intro */
.intro {
  gap: 2.4rem;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.intro__container {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.intro__subtitle {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--color-red);
  font-size: var(--font-md);
  font-family: var(--font-fira-code);
}
.intro__title {
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: var(--color-light);
  font-size: var(--font-xl);
  font-family: var(--font-inter);
}
.intro__text {
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--color-gray);
  font-size: var(--font-sm);
  font-family: var(--font-fira-code);
}
.intro__strong {
  font-weight: 500;
  color: var(--color-red);
}

/* About */
.about {
  display: flex;
  min-height: 100vh;
  padding-bottom: 8rem;
  flex-direction: column;
  justify-content: center;
}
.about__container {
  gap: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__content {
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
}
.about__description {
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray);
  font-size: var(--font-sm);
  font-family: var(--font-fira-code);
}
.about__strong {
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-red);
}
.about__list {
  gap: 1.2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.about__technologies {
  list-style: none;
}
.about__symbol {
  color: var(--color-red);
  font-size: var(--font-xs);
}
.about__technology {
  gap: 1.2rem;
  display: flex;
  font-weight: 400;
  line-height: 1.5;
  align-items: center;
  color: var(--color-gray);
  font-size: var(--font-xs);
  font-family: var(--font-fira-code);
}
.about__image {
  margin: auto;
  width: 24rem;
  height: 24rem;
  display: block;
  box-shadow: var(--shadow-medium);
  border: 0.1rem solid var(--color-red);
}

/* Custom-title */
.custom-title {
  gap: 1rem;
  line-height: 1;
  font-weight: 700;
  display: inline-flex;
  align-items: baseline;
  font-size: var(--font-md);
  color: var(--color-light);
  font-family: var(--font-inter);
}
.custom-title--center {
  justify-content: center;
}
.custom-title__number {
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-red);
  font-size: var(--font-md);
  font-family: var(--font-fira-code);
}

/* Experience */
.experience {
  gap: 2.4rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 80rem;
  min-height: 100vh;
  padding-bottom: 8rem;
  flex-direction: column;
  justify-content: center;
}
.experience__container {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.experience__list {
  gap: 1.2rem;
  display: flex;
  overflow-x: scroll;
}
.experience__item {
  width: 100%;
  list-style: none;
}
.experience__button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 400;
  border-top: 0.1rem;
  border-left: 0.1rem;
  border-right: 0.1rem;
  border-bottom: 0.1rem;
  border-style: solid;
  padding: 0.8rem 2.4rem;
  color: var(--color-gray);
  font-size: var(--font-sm);
  border-color: transparent;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
  font-family: var(--font-fira-code);
}
.experience__button:hover {
  color: var(--color-light);
}
.experience__button--active {
  color: var(--color-light);
  border-color: var(--color-red);
}
.experience__button--active:hover {
  color: var(--color-light);
}
.experience__jobs {
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.experience__job {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  gap: 1.2rem;
  display: flex;
  position: absolute;
  flex-direction: column;
  transition: opacity 0s ease;
}
.experience__job--visible {
  z-index: 2;
  opacity: 1;
  width: 100%;
  height: auto;
  position: relative;
  transition: opacity 0.5s ease;
}
.experience__top {
  display: flex;
  flex-direction: column;
}
.experience__position {
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-light);
  font-size: var(--font-md);
  font-family: var(--font-inter);
}
.experience__location {
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-red);
  font-size: var(--font-sm);
  font-family: var(--font-inter);
}
.experience__time {
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray);
  font-size: var(--font-xs);
  font-family: var(--font-fira-code);
}
.experience__tasks {
  gap: 1.2rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}
.experience__symbol {
  display: none;
  margin-top: 0.2rem;
  color: var(--color-red);
  font-size: var(--font-xs);
}
.experience__task {
  gap: 0.8rem;
  display: flex;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray);
  font-size: var(--font-sm);
  font-family: var(--font-fira-code);
}
.experiencie__strong {
  font-weight: 500;
  color: var(--color-red);
}

/* Projects */
.projects {
  gap: 2.4rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.projects__cards {
  gap: 2.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

/* Card-project */
.card-project {
  gap: 1.6rem;
  display: flex;
  padding: 2.4rem;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow-regular);
  border: 0.1rem solid var(--color-red);
}
.card-project:hover {
  transform: translateY(-1.2rem);
}
.card-project:hover .card-project__url {
  color: var(--color-red);
}
.card-project__header {
  gap: inherit;
  display: flex;
  flex-direction: column;
}
.card-project__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-project__folder {
  color: var(--color-red);
}
.card-project__icons {
  gap: 1.2rem;
  display: flex;
  align-items: center;
}
.card-project__links {
  z-index: 2;
  position: relative;
  text-decoration: none;
  color: var(--color-light);
  transition: all 0.2s ease-in-out;
}
.card-project__links:hover {
  color: var(--color-red);
}
.card-project__title {
  line-height: 1.5;
  font-weight: 700;
  font-size: var(--font-lg);
  font-family: var(--font-inter);
}
.card-project__url {
  text-decoration: none;
  color: var(--color-light);
  transition: all 0.2s ease-in-out;
}
.card-project__url::before {
  top: 0;
  left: 0;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.card-project__description {
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray);
  font-size: var(--font-sm);
  font-family: var(--font-fira-code);
}
.card-project__list {
  gap: 0.8rem;
  display: flex;
}
.card-project__technologies {
  list-style: none;
}
.card-project__technology {
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray);
  font-size: var(--font-xs);
  font-family: var(--font-fira-code);
}

/* Contact */
.contact {
  gap: 2.4rem;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact__container {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact__subtitle {
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-red);
  font-size: var(--font-md);
  font-family: var(--font-fira-code);
}
.contact__title {
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: var(--color-light);
  font-size: var(--font-xl);
  font-family: var(--font-inter);
}
.contact__text {
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--color-gray);
  font-size: var(--font-sm);
  font-family: var(--font-fira-code);
}
.contact__strong {
  font-weight: 500;
  color: var(--color-red);
}

/* Footer */
.footer {
  gap: 1.6rem;
  display: flex;
  padding: 2.4rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer--lock {
  touch-action: none;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  filter: blur(0.4rem) brightness(0.6);
}
.footer__repository {
  gap: 0.8rem;
  display: flex;
  font-weight: 400;
  line-height: 1.5;
  align-items: center;
  text-decoration: none;
  color: var(--color-gray);
  font-size: var(--font-xs);
  transition: all 0.2s ease-in-out;
  font-family: var(--font-fira-code);
}
.footer__repository:hover {
  color: var(--color-red);
}

/* Social-bar */
.social-bar {
  gap: 1.6rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.social-bar__link {
  color: var(--color-red);
  transition: all 0.2s ease-in-out;
}
.social-bar__link:hover {
  transform: translateY(-0.4rem);
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: var(--font-2xl);
  }
  .intro__text {
    width: 52.8rem;
  }

  .about {
    padding-bottom: 0;
  }
  .about__content .custom-title {
    padding-bottom: 4rem;
  }
  .about__list {
    width: 48rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .about__image {
    width: 32rem;
    height: 32rem;
  }

  .custom-title {
    font-size: var(--font-lg);
  }

  .projects {
    gap: 6.4rem;
  }

  .experience {
    gap: 6.4rem;
  }
  .experience__button {
    border-right: 0;
  }
  .experience__jobs {
    padding: 0 2.4rem;
    position: relative;
    border-left: solid 0.1rem var(--color-red);
  }
  .experience__container {
    gap: 0;
    flex-direction: row;
  }
  .experience__list {
    overflow-x: initial;
    flex-direction: column;
  }
  .experience__symbol {
    display: flex;
  }

  .projects__cards {
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  }

  .contact__title {
    font-size: var(--font-2xl);
  }
  .contact__text {
    width: 52.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .header--active .nav {
    padding: 2.8rem 6.4rem;
  }

  .nav {
    padding: 2.4rem 6.4rem;
  }

  .article {
    padding: 0 2.4rem;
    max-width: 102.4rem;
  }

  .intro__title {
    font-size: var(--font-3xl);
  }

  .about__container {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1140px) {
  .menu-icon {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu-aside {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .article {
    padding: 0;
  }

  .social-bar {
    left: 6.4rem;
    bottom: 2.4rem;
    position: fixed;
    flex-direction: column;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: yellow;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  margin: 0;
  background-color: #202124;
  color: #fafafa;
  font-size: 16px;
  line-height: 1.5;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: color 0.25s ease;
}

p {
  margin: 0;
}

.container {
  display: flex;
  position: relative;
  align-items: flex-start;
}
.container .tabs {
  z-index: 3;
  display: block;
  position: relative;
}
.container .tabs .tab {
  width: 100px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0;
  color: #5f6368;
  transition: all 0.25s ease;
  border-left: 2px solid #5f6368;
}
.container .tabs .tab:hover {
  color: #fff;
}
.container .tabs .tab.active {
  color: #fff;
}
.container .tabs .tab.tab-1.active ~ .highlighter {
  transform: translateY(0px);
}
.container .tabs .tab.tab-2.active ~ .highlighter {
  transform: translateY(40px);
}
.container .tabs .tab.tab-3.active ~ .highlighter {
  transform: translateY(80px);
}
.container .tabs .highlighter {
  display: block;
  background: #fff;
  width: 2px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.2s ease;
  transition-delay: 0.1s;
  z-index: 10;
}
.container .tabs a:first-of-type {
  border-top-left-radius: 2px;
}
.container .tabs a:last-of-type {
  border-top-right-radius: 2px;
}
.container .content {
  position: relative;
  padding: 0 20px;
}
.container .content__section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 0s ease;
}
.container .content__section.visible {
  position: relative;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  z-index: 2;
}
