@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	font-size: 62.5%;
}
body {
	background-color: #2b2d42;
}
body.block {
	overflow: hidden;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
p,
span,
label,
input,
button,
a {
	font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", sans-serif;
}
#root {
	display: grid;
	padding: 0 2.4rem;
	place-items: center;
}
@media screen and (min-width: 76.8rem) {
	#root {
		padding: 0 12.8rem;
	}
}
