main {
	width: 100%;
	margin: 0 auto;
	max-width: 102.4rem;
}
main.main--locked {
	user-select: none;
	touch-action: none;
	pointer-events: none;
	filter: blur(0.4rem) brightness(0.6);
}
section {
	width: 100%;
	padding: 0 2.4rem;
	min-height: 100vh;
}

@media screen and (min-width: 768px) {
	section {
		padding: 0;
	}
}
