.card-project {
	gap: 1.6rem;
	display: flex;
	padding: 2.4rem;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	border: 0.1rem solid #ef233c;
	transition: all 0.4s ease-in-out;
}
.card-project:hover {
	transform: translateY(-1.2rem);
}
.card-project:hover .card-project__url {
	color: #ef233c;
}
.card-project__header {
	gap: inherit;
	display: flex;
	flex-direction: column;
}
.card-project__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-project__folder {
	color: #ef233c;
}
.card-project__icons {
	gap: 1.2rem;
	display: flex;
	align-items: center;
}
.card-project__links {
	z-index: 2;
	color: #8d99ae;
	position: relative;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
.card-project__links:hover {
	color: #ef233c;
}
.card-project__title {
	line-height: 1.5;
	font-weight: 500;
	font-size: 2.4rem;
	font-family: "Inter", sans-serif;
}
.card-project__url {
	color: #edf2f4;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
.card-project__url::before {
	top: 0;
	left: 0;
	z-index: 0;
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}
.card-project__description {
	line-height: 1.5;
	color: #8d99ae;
	font-weight: 500;
	font-size: 1.6rem;
	font-family: "Fira Code", monospace;
}
.card-project__list {
	gap: 1.6rem;
	display: flex;
}
.card-project__technologies {
	list-style: none;
}
.card-project__technology {
	line-height: 1.5;
	color: #8d99ae;
	font-weight: 500;
	font-size: 1.4rem;
	font-family: "Fira Code", monospace;
}
