/* Contact */
.contact {
	opacity: 0;
	gap: 1.6rem;
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transform: translateY(12rem);
	transition: all 0.8s ease-in-out;
}
.contact--animation {
	opacity: 1;
	transform: translateY(0);
}
.contact__subtitle {
	color: #ef233c;
	font-weight: 500;
	line-height: 1.5;
	font-size: 1.8rem;
	font-family: "Fira Code", monospace;
}
.contact__title {
	line-height: 1;
	color: #edf2f4;
	font-weight: 700;
	font-size: 3.2rem;
	text-align: center;
	font-family: "Inter", sans-serif;
}
.contact__text {
	width: 52.8rem;
	color: #8d99ae;
	font-weight: 500;
	line-height: 1.5;
	font-size: 1.6rem;
	text-align: center;
	font-family: "Fira Code", monospace;
}
.contact__strong {
	font-weight: 500;
	color: #ef233c;
}

/* Media Queries */
@media screen and (min-width: 768px) {
	.contact__title {
		font-size: 7.2rem;
	}
}

@media screen and (max-width: 768px) {
	.contact__text {
		width: 100%;
	}
}
