.intro {
	gap: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro div:first-child {
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
}
.intro h1 {
	color: #edf2f4;
	font-size: 3.6rem;
	line-height: 4rem;
}
.intro h2 {
	color: #8d99ae;
	font-size: 2.4rem;
	line-height: 3.2rem;
}
.intro p {
	color: #8d99ae;
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-family: "Fira Code", monospace;
}
.intro p span {
	color: #ef233c;
}
.intro div:last-child {
	gap: 1.2rem;
	display: flex;
}
.intro div:last-child a {
	color: #ef233c;
	font-size: 2.4rem;
	line-height: 3.2rem;
	transition: all 0.4s ease-in-out;
}
.intro div:last-child a:hover {
	color: #d90429;
	transform: scale(1.1);
}

@media screen and (min-width: 768px) {
	.intro {
		gap: 2rem;
	}

	.intro h1 {
		line-height: 1;
		color: #edf2f4;
		font-size: 6.4rem;
	}
	.intro h2 {
		line-height: 1;
		color: #8d99ae;
		font-size: 4.8rem;
	}
	.intro p {
		max-width: 66rem;
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
}
