.intro {
	gap: 2.4rem;
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.intro__titles {
	gap: 0.4rem;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.intro__greetings {
	color: #ef233c;
	font-size: 1.8rem;
}
.intro__title {
	color: #edf2f4;
	font-size: 3.2rem;
}
.intro__subtitle {
	color: #8d99ae;
	font-size: 2.4rem;
}
.intro__description {
	width: 100%;
	color: #8d99ae;
	font-size: 1.6rem;
	text-align: center;
}
.intro p span {
	color: #ef233c;
}

@media screen and (min-width: 768px) {
	.intro__title {
		font-size: 8rem;
	}
	.intro__subtitle {
		font-size: 6.4rem;
	}
	.intro__description {
		width: 61rem;
	}
}

