.footer {
	gap: 1.6rem;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2.4rem;
	justify-content: center;
}
.footer__social {
	gap: 1.2rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.footer__social--fade-left {
	opacity: 0;
	transform: translateX(-8rem);
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.footer__social--fade-left {
	animation: fade-left 0.5s ease-out 1.2s 1 normal forwards;
}
.footer__credits {
	color: #edf2f4;
	overflow: hidden;
	font-size: 1.6rem;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: linear-gradient(to right, #ef233c, #ef233c 50%, #edf2f4 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 100%;
	background-size: 200% 100%;
	transition: all 0.2s ease-in-out;
	font-family: "Fira Code", monospace;
}
.footer__credits:hover {
	background-position: 0 100%;
}
.footer__lang {
	color: #ef233c;
	font-size: 1.8rem;
	transition: all 0.2s ease-in-out;
	font-family: "Fira Code", monospace;
}
.footer__lang:hover {
	color: #d90429;
}
.footer__lang--fade-right {
	opacity: 0;
	transform: translateX(8rem);
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.footer__lang--fade-right {
	animation: fade-right 0.5s ease-out 1.4s 1 normal forwards;
}

.icon {
	color: #ef233c;
	font-size: 2.4rem;
	transition: all 0.2s ease-in-out;
}
.icon:hover {
	color: #d90429;
	transform: translateY(-0.4rem);
}

@media screen and (min-width: 768px) {
	.footer {
		padding-top: 2.4rem;
	}
	.footer__social {
		left: 6.4rem;
		bottom: 2.4rem;
		position: fixed;
		flex-direction: column;
	}
	.footer__lang {
		right: 6.4rem;
		bottom: 2.4rem;
		position: fixed;
	}
}

@keyframes fade-left {
	0% {
		opacity: 0;
		transform: translateX(-8rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fade-right {
	0% {
		opacity: 0;
		transform: translateX(8rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
