/* Footer */
.footer {
	gap: 1.6rem;
	display: flex;
	padding: 2.4rem;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all 0.2s ease-in-out;
}
.footer--lock {
	touch-action: none;
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
	filter: blur(0.4rem) brightness(0.6);
}
.footer__text {
	gap: 0.8rem;
	display: flex;
	color: #8d99ae;
	font-weight: 500;
	line-height: 1.5;
	font-size: 1.4rem;
	align-items: center;
	font-family: "Fira Code", monospace;
}
